{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

{% load humanize %}
<!--Contenido -->
<center>

    <div class="container">
        <div class=row>
            {% for p in productos %} 
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">{{p.nombre}} </h4>
                    <div class="card-body">
                        {% if p.imagen %}
                        <img class="imgb" style="height:300px; width:300px;" src="{{ p.imagen.url }}">
                        {% endif %}
                        <p><b>{{p.descripcion | capfirst }} </b></p>
                        <p><b> </b></p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary"><b>${{p.precio | intcomma }}</b></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</center>


{% endblock %}